{% extends 'base.html' %} {% block title %}Temperature - Forecast{% endblock %} {% block extraimg %}"background:url('https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880_960_720.jpg')no-repeat center center;background-size:cover;"{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-9 mx-auto position-relative">
            <h1 class="mb-5">Daily Temperature Forecast using LSTM Recurrent Neural Networks!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
            <div class="row">
                <div class="col text-center mb-5">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <blockquote class="blockquote mb-0">
                            <p>Temperature Prediction For Single Prediction</p>
                            <footer class="blockquote-footer">Recurrent Neural Network <cite title="Source Title">Long Short Term Memory</cite></footer>
                        </blockquote>
                    </div>
                    <a href="{% url 'lstm:singleforecast' %}"><button class="btn btn-secondary btn-sm">Check Out!</button></a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-1 mb-5">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <blockquote class="blockquote mb-0">
                            <p>Temperature Prediction For Multiple Prediction</p>
                            <footer class="blockquote-footer">Recurrent Neural Network <cite title="Source Title">Long Short Term Memory</cite></footer>
                        </blockquote>
                    </div>
                    <a href="{% url 'lstm:multiforecast' %}"><button class="btn btn-secondary btn-sm">Check Out!</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}